:root
{
  --primeiraPosicao: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: purple;
}


.mesa, .selecionados{
  width: 800px;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  perspective: 1000px;
  border-bottom: 5px;
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  border-color: darkblue;
  border-style: solid;
}

.posicaoCarta, .posicaoCartaSelect {
  width: calc(100% / 21);
  /* height: calc(33.333% - 10px); */
  height: calc(100% - 10px);
  /* margin-left: -10px; */
  position: absolute;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 30px 5px 5px rgba(0,0,0,.3);
  border-bottom: 5px;
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  border-color: chartreuse;
  border-style: solid;
}

.posicaoCarta:hover {
  transform: scale(1.3);
  transition: transform .2s;
  z-index: 100;
}

.posicaoCarta:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.posicaoCarta.flip {
  transform: rotateY(180deg);
}

.carta-frente,
.carta-verso {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.carta-frente {
  transform: rotateY(180deg);
}












